* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/*-----------ТИПОГРАФИКА----------*/

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 3.125em;
}

h3 {
    font-size: 1.4375em;
}



@media (min-width: 320px) and (max-width: 640px) {

    p {
        font-size: 0.9375em;
    }

    .store {
        font-size: 53%;
    }

    .download-h2 {
        font-size: 2em;
    }
    
    .download-p {
        font-size: 0.875em;
    }

}

@media (min-width: 641px) and (max-width: 960px) {

    p {
        font-size: 1rem;
    }

    .main-screen-section {
       font-size: 2.2857142em; /*1em - 64px*/
    }

    .athlets-section, .players-section, .call-to-action-section, .download-app-section {
        font-size: 1.6em;
    }

    .sportsmens-list {
        font-size: 0.8696em;
    }

    .button-text {
        font-size: 0.875rem;
    }

    .download-p {
        font-size: 2.25rem;
    }

}

@media (min-width: 961px) {

    p {
        font-size: 1.25rem;
    }

    .main-screen-section {
        font-size: 3.2142856em; /*1em - 64px*/
     }
 
     .athlets-section, .players-section, .call-to-action-section, .download-app-section {
         font-size: 1.6em;
     }
 
     .sportsmens-list {
         font-size: 0.9782em;
     }
 
     .button-text {
         font-size: 0.875rem;
     }
 
     .download-p {
         font-size: 2.25rem;
     }
}

/*-----------ОСТАЛЬНОЕ----------*/

@media (min-width: 320px){

    .surface-logo-text {
        width: 8.3123rem;
        height: 2.25rem;
    }

}

@media (min-width: 641px) and (max-width: 960px) {
    .surface-logo-text {
        width: 12.8125rem;
        height: 4.666rem;
    }
}

@media (min-width: 961px){
    .surface-logo-text {
        width: 11.9375rem;
        height: 3.25rem;
    }
}




